<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.wilddog.com/sdk/js/2.5.17/wilddog.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../public/js/template-web.js"></script>
	<script src="../public/js/editor.js"></script>
	<style type="text/css">
		.container{
			width: 100%;
			padding-top: 15px;
			padding: 15px;
		}

		.btn-default{
			border:none;
			color: #337ab7;
		}
		.dropdown-toggle.btn-default{
			background: #fff;

		}
		.nav>li>a:focus, .nav>li>a:hover{
			background: #fff;
			color: #337ab7;

		}
		.pro_title{
			margin-left: 200px;
			text-shadow: 8px 1px 4px #ccc;
			display: inline-block;
		}
		.hideAlert{
			display: none;
			width: 600px;
			margin-left: 120px;
		}
		.check{
			width: 40px;
			height: 40px;
		}
		.historyInfoBox{
			display: none;
		}
		.pos{
			margin-left: 20px;
			margin-top: -10px;
		}
	/*	..form-horizontal .control-label{
			text-align: left;
		}*/
	</style>
</head>
<body>
	<div class="container">
	<div class="header">
				<ul class="nav nav-pills nav-justified">
		  <li class="active"><a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>基地大棚列表</a>
				   <ul class="dropdown-menu">
				        <li>
				            <a href="./map.html?id=1">第1个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=2">第2个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=3">第3个大棚</a>
				        </li>
				         <li class="divider"></li>
				       
				        <li>
				            <a href="./map.html?id=4">第4个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=5">第5个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=6">第6个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=7">第7个大棚</a>
				        </li>
				    </ul>	
				
		  </li>

		  <li ><a href="./pandect.html">农作物总览</a></li>
		  <li><a href="./history.html">历史记录</a></li>
		  <li><a href="./analysis.html">数据分析记录表</a></li>
		</ul>
	</div>
	<!-- 表单 -->
<div class="main">

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加历史记录</h4>
      </div>
      <div class="modal-body">
		<form class="form-horizontal " id="historyBox">

		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary saveHistory">Save changes</button>
      </div>
    </div>
  </div>
</div>

<h2 class="pro_title"></h2><a data-toggle="modal" data-target="#myModal" class="btn btn-primary history pos">添加历史记录</a>

   <div class="alert alert-danger alert-dismissible hideAlert" >
  <button type="button" class="close" ><span aria-hidden="true">&times;</span>
  </button>
  <strong>Warning!</strong> 其中有一项必填项未填写
</div>

<form class="form-horizontal " id="vegDetail">
 	
  
</form>
</div>
</div>

<!-- vegDetail -->
<script type="text/html" id="vegDetailTpl">
	<div class="form-group " >
    <label for="productId" class="col-sm-2 control-label">编 号：</label>
    <div class="col-sm-6">
      <input value="{{ data.masId }}" name="productId" type="text"  class="form-control" id="productId" placeholder="请输入农作物ID" disabled="">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">农 作 物：</label>
    <div class="col-sm-6">
      <input required="" value="{{ data.name }}" name="name" type="text" class="form-control" id="name" placeholder="请输入农作物名字">
    </div>
  </div>
  <div class="form-group">
    <label for="plantPro" class="col-sm-2 control-label">种植日期：</label>
    <div class="col-sm-6">
      <input required=""  value="{{ data.sowDate }}" name="plantPro" type="date" class="form-control" id="plantPro" placeholder="请输入种植日期">
    </div>
  </div>

  <div class="form-group">
    <label for="estimateDay" class="col-sm-2 control-label">预计成熟天数：</label>
    <div class="col-sm-6">
      <input required=""  value="{{  data.estimate }}" name="estimateDay" type="text" class="form-control" id="estimateDay" placeholder="请输入预计成熟日期">
    </div>
  </div>


  <div class="form-group">
  	 <label for="" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
     <a class="btn btn-success" id="save" >保存</a>	
    </div>

  </div>

</script>

<!-- history -->
<script type="text/html" id="historyBoxTpl">
<div class="form-group " >
    <label for="productId" class="col-sm-3 control-label">编 号：</label>
    <div class="col-sm-6">
      <input value="{{ data.masId }}" name="productId" type="text"  class="form-control" id="productId" placeholder="请输入农作物ID" disabled="">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">农作物：</label>
    <div class="col-sm-6">
      <input required="" value="{{ data.name }}" name="name" type="text" class="form-control " id="name" placeholder="请输入农作物名字" disabled="">
    </div>
  </div>
  <div class="form-group">
    <label for="plantPro" class="col-sm-3 control-label">种植日期：</label>
    <div class="col-sm-6">
      <input required=""  value="{{ data.sowDate }}" name="plantPro" type="text" class="form-control " disabled="" id="plantPro" placeholder="请输入种植日期">
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-3 control-label">非必选项：</label>
    <div class="col-sm-6">
      <input  type="checkbox" class="check"><span>是否提交备注信息</span>
    </div>
  </div>
  <div class="historyInfoBox"> 
   <div class="form-group">
    <label for="status" class="col-sm-3 control-label">选择状态</label>
    <div class="col-sm-6">
     <select name ="status"  class="form-control">
     	<option value="-1">未知</option>
     	<option value="1">成功</option>
     	<option value="0">失败</option>
     </select>
    </div>
  </div>
   <div class="form-group">
    <label for="historyInfo" class="col-sm-3 control-label">备注信息</label>
    <div class="col-sm-6">
  
    	<textarea class="form-control" name="note" placeholder="如：这个菜品种的很好，收成很好。"></textarea>
    </div>
  </div>
  </div>
</script>
</body>
</html>