<div class="header">
		<ul class="nav nav-pills nav-justified">
		 
 <li class="active"><a href="./map.html" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>基地大棚列表</a>
				    <ul class="dropdown-menu" role="menu">
				        <li>
				            <a href="#">第1个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="#">第2个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="#">第3个大棚</a>
				        </li>
				         <li class="divider"></li>
				       
				        <li>
				            <a href="#">第4个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="#">第5个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="#">第6个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="#">第7个大棚</a>
				        </li>
				    </ul>
				
		  </li>

		  <li><a href="./pandect.html">农作物总览</a></li>
		  <li><a href="./history.html">历史记录</a></li>
		  
		</ul>
	</div>


	{{ each data }}
	<div  class="bgGray text-center" data-id="{{ $index }}" >地块</div>
	{{ each $value.vegs }}
	{{ if $value.road != 1 && $value.height != '0'  }}
	<tr>
      <td>
      {{ $value.masId }}
  	</td>
      <td>
      {{ $value.name }}
      </td>
      <td>
      {{ $value.sowDate }}
      </td>
      <td>
      {{ $value.estimate }}天
      </td>
      <td>
      {{ $value.passDay }} 天
      </td>
      <td>
      {{ $value.upComingDay }} 天
      </td>
      <td>
      {{ $value.metureDate }} 日
      </td>
      <td>
      	<a class="btn btn-primary editor" href="javascript:;" data-id="{{ $value.masId }}" data-index= "{{$index}}">编辑</a>
      	
      	<a class="btn btn-danger delete" data-id="{{ $value.masId }}" data-test="{{ data[2]['vegs']['length']}}"   data-index= "{{$index}}" >删除
      	</a>

      
      	<a class="btn btn-success increase" data-id="{{ $value.masId }}"  data-index= "{{$index}}">添加</a>
	  </td>
	 </tr>
	 {{ /if }}
	 {{ /each }}
	 {{ /each }}